
## Task 2.2

In [4]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
import pandas as pd

In [8]:
iris = load_iris()

X = iris.data
y = iris.target

#seleccionar Setosa (0) y Versicolor (1)
mask = y != 2
X = X[mask]
y = y[mask]

#seleccionar sepal length y sepal width
X = X[:, :2]

#convertir etiquetas a {-1, 1}
y = np.where(y == 0, -1, 1)

df = pd.DataFrame(X, columns=["Sepal Length", "Sepal Width"])
df["Label"] = y

df.head()

   Sepal Length  Sepal Width  Label
0           5.1          3.5     -1
1           4.9          3.0     -1
2           4.7          3.2     -1
3           4.6          3.1     -1
4           5.0          3.6     -1

In [9]:
df.describe()

       Sepal Length  Sepal Width       Label
count    100.000000   100.000000  100.000000
mean       5.471000     3.099000    0.000000
std        0.641698     0.478739    1.005038
min        4.300000     2.000000   -1.000000
25%        5.000000     2.800000   -1.000000
50%        5.400000     3.050000    0.000000
75%        5.900000     3.400000    1.000000
max        7.000000     4.400000    1.000000

Inicializaci칩n

w = w + 풩yx

洧녪 = 洧녪 + 洧랙洧녽

In [14]:
class Perceptron:
     
    def __init__(self, lr=0.01, epochs=100):
        self.lr = lr
        self.epochs = epochs
        
    def fit(self, X, y):
        n_samples, n_features = X.shape
            
        self.w = np.random.randn(n_features)
        self.b = np.random.randn()

        #entrenamiento
        for _ in range(self.epochs):
            for i in range(n_samples):
                linear_output = np.dot(X[i], self.w) + self.b
                    
                #activar funci칩n Sign
                y_pred = self.sign(linear_output)
                    
                #actualizar si est치 mal clasificado
                if y[i] * y_pred <= 0:
                        self.w += self.lr * y[i] * X[i]
                        self.b += self.lr * y[i]

    def predict(self, X):
        linear_output = np.dot(X, self.w) + self.b
        return self.sign(linear_output)
        
    def sign(self, z):
        return np.where(z >= 0, 1, -1)

Entrenamiento

In [15]:
model = Perceptron(lr=0.01, epochs=100)
model.fit(X, y)

Frontera de decisi칩n